#headers, #below, #cat, #start {
    background-color: rgba(255, 255, 255, 0.3);
}
#letter {
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
}

body {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#allButtons, #numGuesses, #wrong, #guessed, #guessedLetters {
    margin-top: 20px;
}

#cat {
    font-size: 18px;
    margin: 20px;
    border-color: black;
}

#guessed {
    font-size: 30px;
}

.w3-mont {
    font-family: 'Montserrat Subrayada';
}

.w3-capriola {
    font-family: 'Capriola';
}

